---
import Page from '../components/page'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docs - My Library</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="font-sans bg-gray-50">
    <div class="flex">
      <Page />
      <main class="flex-1 p-8">
        <slot />
      </main>
    </div>
  </body>
</html>
