---
import { AppSidebar } from "../components/app-sidebar";
import { SidebarProvider } from "../components/ui/sidebar";
import Header from "../components/astro-components/Header.astro"
import '../styles/prism.css';
import '../styles/global.css';

// Get frontmatter props
const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title || "MonkeyJs Documentation";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body class="font-sans bg-gray-50">
    <div class="flex">
      <AppSidebar client:load />
      <main class="p-8 ">
        <slot />
      </main>
    </div>
  </body>
</html>
