---
// OverlayBuilderConfigTable.astro
---
<table class="min-w-full text-sm text-left text-gray-700 border border-gray-200 rounded-md">
  <thead class="bg-gradient-to-r from-pink-100 to-blue-100">
    <tr>
      <th class="px-4 py-2 font-semibold">Property</th>
      <th class="px-4 py-2 font-semibold">Type</th>
      <th class="px-4 py-2 font-semibold">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="px-4 py-2 font-bold">radius</td>
      <td class="px-4 py-2">number</td>
      <td class="px-4 py-2">Border radius for the overlay highlight.</td>
    </tr>
    <tr>
      <td class="px-4 py-2 font-bold">padding</td>
      <td class="px-4 py-2">object</td>
      <td class="px-4 py-2">Padding around the overlay. See below for details.</td>
    </tr>
    <tr>
      <td class="px-4 py-2 pl-8 font-bold">padding.top</td>
      <td class="px-4 py-2">number</td>
      <td class="px-4 py-2">Top padding in pixels.</td>
    </tr>
    <tr>
      <td class="px-4 py-2 pl-8 font-bold">padding.bottom</td>
      <td class="px-4 py-2">number</td>
      <td class="px-4 py-2">Bottom padding in pixels.</td>
    </tr>
    <tr>
      <td class="px-4 py-2 pl-8 font-bold">padding.right</td>
      <td class="px-4 py-2">number</td>
      <td class="px-4 py-2">Right padding in pixels.</td>
    </tr>
    <tr>
      <td class="px-4 py-2 pl-8 font-bold">padding.left</td>
      <td class="px-4 py-2">number</td>
      <td class="px-4 py-2">Left padding in pixels.</td>
    </tr>
  </tbody>
</table>
