---
import Card from "./common/Card.astro";
import Container from "./container.astro";


---

<section class="w-full p-12 ">
    <Container>
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <Card 
              title="Card 1 Title" 
              description="This is a description for the first card." 
              icon="fas fa-heart"
            />
            <Card 
              title="Card 2 Title" 
              description="This is a description for the second card." 
              icon="fas fa-star"
            />
            <Card 
              title="Card 3 Title" 
              description="This is a description for the third card." 
              icon="fas fa-thumbs-up"
            />
          </div>
          
    </Container>
</section>