---
import CodeBlock from "./common/CodeBlock.astro";
import Container from "./container.astro";

---

<section class="w-full p-24 bg-white">
    <Container>
        <div class="w-full flex flex-row justify-between gap-8 items-center">
            
            <!-- Left Section: Heading and Description -->
            <div class="flex flex-col gap-6 max-w-md">
                <h1 class="text-5xl font-bold text-gray-800 flex items-center">
                    <span class="mr-3 text-yellow-300 text-5xl">🍌</span> Installation
                </h1>
                <p class="text-lg text-gray-700 font-medium">
                    Install Monkeyts with your favorite package manager.
                </p>
                <p class="text-sm text-gray-500">Let the monkeys do the heavy lifting while you enjoy the bananas!</p>
            </div>

            <!-- Right Section: Input Field -->
            <div class="p-6 rounded-xl shadow-lg flex flex-col gap-4 min-w-[320px]">
                <span class="text-sm text-gray-400 mb-1">Terminal</span>
                <CodeBlock code={`npm install monkeyts`} language="bash" />
            </div>
        </div>
    </Container>
</section>
